mat-form-field {
    width: 100%
}
mat-card-title {
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
}

mat-card {
    padding: 0px;
}

.padding {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

h3 {
    padding: 8px 20px;
}

.button-row button{
    margin-right: 8px;
}