$primary-main: rgba(94, 53, 177, 1);
$primary-light: rgba(145, 98, 228, 1);
$primary-dark: rgba(40, 6, 128, 1);

$primary-main-threeq: rgba(94, 53, 177, .75);
$primary-light-threeq: rgba(145, 98, 228, .75);
$primary-dark-threeq: rgba(40, 6, 128, .75);

$primary-main-half: rgba(94, 53, 177, .5);
$primary-light-half: rgba(145, 98, 228, .5);
$primary-dark-half: rgba(40, 6, 128, .5);

$primary-main-quarter: rgba(94, 53, 177, .25);
$primary-light-quarter: rgba(145, 98, 228, .25);
$primary-dark-quarter: rgba(40, 6, 128, .25);

$secondary-main: rgba(0, 96, 100, 1);
$secondary-light: rgba(66, 142, 146, 1);
$secondary-dark: rgba(0, 54, 58, 1);

$secondary-main-threeq: rgba(0, 96, 100, .5);
$secondary-light-threeq: rgba(66, 142, 146, .5);
$secondary-dark-threeq: rgba(0, 54, 58, .5);

$secondary-main-half: rgba(0, 96, 100, .5);
$secondary-light-half: rgba(66, 142, 146, .5);
$secondary-dark-half: rgba(0, 54, 58, .5);

$secondary-main-quarter: rgba(0, 96, 100, .5);
$secondary-light-quarter: rgba(66, 142, 146, .5);
$secondary-dark-quarter: rgba(0, 54, 58, .5);
