<h1 mat-dialog-title>Erstelle eine neue Liste</h1>
<div mat-dialog-content>
    <div mat-dialog-content [formGroup]="listForm" class="max-height">
        <mat-form-field>
            <input matInput placeholder="Titel" formControlName="title" [(ngModel)]="data.title" required>
            <mat-error *ngIf="formErrors.title">{{ formErrors.title }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Beschreibe Deine Liste:" formControlName="description"
                [(ngModel)]="data.description" required></textarea>
            <mat-error *ngIf="formErrors.description">{{ formErrors.description }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Priorität auswhählen" formControlName="priority" [(ngModel)]="data.priority">
                <mat-option value="0">Gering</mat-option>
                <mat-option value="5">Mittel</mat-option>
                <mat-option value="10">Hoch</mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.priority">{{ formErrors.priority }}</mat-error>
        </mat-form-field>
    </div>


    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="!listForm.valid">Erstellen</button>
        <button mat-button (click)="onNoClick()">Abbrechen</button>
    </div>
</div>