<mat-card class="add-padding">
    <mat-card-title>
        <h4>{{todoList.title}}</h4> <span class="description">{{todoList.description}}</span>
    </mat-card-title>
    <mat-card-content>
        <div class="container-flex">
            <app-todo-task [todoList]="todoList"></app-todo-task>
            <i class="material-icons">
                note_add
            </i>
        </div>
    </mat-card-content>
    <mat-card-subtitle>
        {{todoList.remainingTasks}} Aufgaben zu erledigen, XX Aufgaben überfällig
    </mat-card-subtitle>
</mat-card>