<div>
    <div class="list-container responsive" *ngFor="let list of todoLists">
        <div class="list-header clickable" (click)="showTasks(list)">
            <h1>{{list.title}}</h1>
        </div>
        <div class="list-footer">
            <span class="clickable" (click)="showTasks(list)">{{list.remainingTasks}} zu erledigen, {{list.overdue}} überfällig</span>
            <i class="material-icons clickable" (click)="delete(list)"> delete </i>
        </div>
    </div>
</div>


<div class="responsive">
    <form>
        <mat-form-field class="full-width">
            <input #listTitle matInput placeholder="Neue Liste hinzufügen" autocomplete="off" (keyup.enter)="addList()"
                (blur)="addList()" />
        </mat-form-field>
    </form>
</div>