.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 300ms ease-in-out;
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,1);
    border-radius: 3px;

    &:hover {
        box-shadow: 2px 2px 17px 0px rgba(0,0,0,0.75);
    }

    .list-header {
        color: rgba(255, 255, 255, 0.8);
        background:rgba(15, 185, 177,1.0);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 10px;

        h1 {
            margin: 0;
        }
    }

    .list-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(43, 203, 186, 0.5);
        color: rgba(75, 75, 75, 0.7);
        padding: 4px 8px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        font-size: 14px;

        & i {
            z-index: 80;
            font-size: 1.5em;

            &:hover {
                color: rgba(0,0,0,0.7);
            }
        }
    }
}

.responsive {
    margin: 1em auto;

    @media (min-width: 576px) {
        max-width: 95%;
     }
   
     @media (max-width: 576px) {
      max-width: 95%;
     }
 
     // Medium devices (tablets, 768px and up)
     @media (min-width: 768px) {
      max-width: 95%;
     }
 
     // Large devices (desktops, 992px and up)
     @media (min-width: 992px) {
       max-width: 95%;
     }
 
     // Extra large devices (large desktops, 1200px and up)
     @media (min-width: 1200px) {
       max-width: 80%;
     }
}

.full-width {
    width: 100%;
}
