@import '~variables.scss';

.material-icons {
    font-size: 48px;
}

.material-icons:hover {
    cursor: pointer;
}

.centered {
    min-height:48px;
    width: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgba(0,0,0,0.6);

    h2 {
        cursor: default;
    }

    .size-large {
        font-size: 24px;
    }
}

.max-height {
    height: 100%;
}

.no-overflow {
    overflow: hidden!important;
}

mat-form-field {
    width: 100%
}

.space-between {
    display: flex;
    justify-content: space-between;

    button {
        margin: auto 0;
        max-height: 36px;
    }
}
