/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~variables.scss';

html {
  height: auto;
  min-height: 100%;
}


body {
  min-height: 100vh;
  font-family     : Roboto, Arial, sans-serif;
  margin          : 0;
}

.basic-container {
  padding: 30px;
  height : 100%;
}

.clickable {
  cursor: pointer;
}

.mat-app-background {
  min-height: 100vh;
  background: linear-gradient(to bottom, $secondary-light, $secondary-light-threeq);
  color: whitesmoke;
}