@import '~variables.scss';

mat-form-field {
    width: 100%
}

.button-row button{
    margin-right: 8px;
}

.warning {
    color: rgba(206, 0, 0, 0.7)!important;
}

.container {

    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 1em auto;

    // @media (min-width: 576px) {
    // max-width: 95%;
    // }

    // @media (max-width: 576px) {
    // max-width: 95%;
    // }

    // // Medium devices (tablets, 768px and up)
    // @media (min-width: 768px) {
    // max-width: 95%;
    // }

    // // Large devices (desktops, 992px and up)
    // @media (min-width: 992px) {
    // max-width: 95%;
    // }

    // // Extra large devices (large desktops, 1200px and up)
    // @media (min-width: 1200px) {
    // max-width: 80%;
    // }

    // .login-heading {
    //     display: flex;
    //     justify-content: space-between;

    //     button {
    //         max-height: 36px;
    //     }

    //     h1 {
    //         margin: 0;
    //         font-size: 2em;
    //     }

    //     h3 {
    //         margin: 0;
    //     }
    // }

}