<div class="container">
    <h1>Starting Task Runner...</h1>
</div>

<!-- <div class="container">
    <form [formGroup]="userForm" [hidden]="showSignup" (ngSubmit)="login()">
        <div class="login-heading">
            <h1>Login</h1>
            <button color="primary" type="button" mat-raised-button (click)="toggleForm()">Noch nicht
                registriert?</button>
        </div>

        <mat-form-field>
            <label for="email"></label>
            <input matInput type="email" placeholder="Email eingeben" formControlName="email" required>
            <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <label for="password"></label>
            <input matInput [type]="!hide ? 'password' : 'text'" placeholder="Passwort eingeben"
                formControlName="passwordLogin" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' :'visibility_off'}}</mat-icon>
            <mat-error *ngIf="formErrors.passwordLogin">{{ formErrors.passwordLogin }}</mat-error>
        </mat-form-field>

        <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Einloggen</button>
            <button mat-raised-button color="primary" type="button" (click)="signInWithGoogle()">Mit Google
                anmelden</button>
        </div>
    </form>
</div> -->