.hide-hack {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    visibility: hidden;
}


.strikethrough {
	position: relative;
 
    &.strike{
        text-decoration: line-through;
    }
}

.todo-container {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    margin: 0 auto;
    @media (min-width: 576px) {
        max-width: 95%;
     }
   
     @media (max-width: 576px) {
      max-width: 95%;
     }
 
     // Medium devices (tablets, 768px and up)
     @media (min-width: 768px) {
      max-width: 95%;
     }
 
     // Large devices (desktops, 992px and up)
     @media (min-width: 992px) {
       max-width: 95%;
     }
 
     // Extra large devices (large desktops, 1200px and up)
     @media (min-width: 1200px) {
       max-width: 80%;
     }
}

.task {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(43, 203, 186,1.0);
    width: 100%;

    .task-description {

        @media (min-width: 576px) {
            min-width: 50%;
         }
       
         @media (max-width: 576px) {
          min-width: 40%;
         }
     
         // Medium devices (tablets, 768px and up)
         @media (min-width: 768px) {
          min-width: 70%;
         }

        display: inline-block;
        overflow-wrap: break-word; 
        word-wrap: break-word;
        padding: 1em;
        line-height: 1.5;
    }

    .task-properties {
        display: inherit;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        font-weight: bold;

        .icons {
            padding-left: 1em;
        }
    }
}

.done {
    color: green;
}